# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Third Year\face_mask_detection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
